<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<form
  [formGroup]="registerForm"
  (ngSubmit)="register()"
  autocomplete="off"
  class="p-4 text-theme-tryout shadow rounded bg-white">
  <h2 class="text-center text-primary mb-4">Sign up</h2>

  <div class="mb-4">
    <label class="form-label me-3">I am a:</label>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        formControlName="gender"
        value="male"
        id="genderMale" />
      <label class="form-check-label" for="genderMale">Male</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        formControlName="gender"
        value="female"
        id="genderFemale" />
      <label class="form-check-label" for="genderFemale">Female</label>
    </div>
  </div>

  <div class="mb-3">
    <app-text-input
      formControlName="username"
      [label]="'Username'"></app-text-input>
  </div>
  <div class="mb-3">
    <app-text-input
      formControlName="knownAs"
      [label]="'Known as'"></app-text-input>
  </div>
  <div class="mb-3">
    <app-date-picker
      formControlName="dateOfBirth"
      [label]="'Date of birth'"
      [maxDate]="maxDate"></app-date-picker>
  </div>
  <div class="mb-3">
    <app-text-input formControlName="city" [label]="'City'"></app-text-input>
  </div>
  <div class="mb-3">
    <app-text-input
      formControlName="country"
      [label]="'Country'"></app-text-input>
  </div>
  <div class="mb-3">
    <app-text-input
      formControlName="password"
      [label]="'Password'"
      [type]="'password'"></app-text-input>
  </div>
  <div class="mb-4">
    <app-text-input
      formControlName="confirmPassword"
      [label]="'Confirm password'"
      [type]="'password'"></app-text-input>
  </div>

  @if (validationErrors) {
    <div class="alert alert-danger">
      <ul class="mb-0">
        @for (error of validationErrors; track error) {
          <li>{{ error }}</li>
        }
      </ul>
    </div>
  }

  <div class="text-center mt-4">
    <button
      type="submit"
      class="btn btn-success me-2 px-4"
      [disabled]="!registerForm.valid">
      Register
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary px-4"
      (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
