<div class="row">
  <div class="text-center mt-3">
    <h2>
      Your matches -
      {{ getPaginatedResult()?.pagination?.totalItems }}
    </h2>
  </div>

  <div class="container mt-3">
    <form class="d-flex mb-3" #form="ngForm" (ngSubmit)="loadMembers()">
      <div class="d-flex mx-2">
        <app-input-wrapper
          name="minAge"
          label="Age from:"
          type="number"
          [(ngModel)]="getUserParams()!.minAge">
        </app-input-wrapper>
      </div>
      <div class="d-flex mx-2">
        <app-input-wrapper
          label="Age to:"
          type="number"
          name="maxAge"
          [(ngModel)]="getUserParams()!.maxAge"></app-input-wrapper>
      </div>
      <div class="d-flex flex-column mx-2">
        <select
          name="gender"
          class="form-select py-3 select-width ms-1"
          id=""
          [(ngModel)]="getUserParams()!.gender">
          @for (gender of genderList; track gender.value) {
            <option [value]="gender.value">
              {{ gender.display }}
            </option>
          }
        </select>
      </div>

      <app-button-wrapper
        type="submit"
        text="Apply Filters"
        name="applyBtn"></app-button-wrapper>

      <app-button-wrapper
        classStyle="btn btn-info ms-1"
        name="resetBtn"
        text="Reset Filters"
        (clicked)="resetFilters()"></app-button-wrapper>

      <div class="col">
        <div class="btn-group float-end">
          <button
            type="button"
            class="btn btn-primary"
            name="orderBy"
            btnRadio="lastActive"
            [(ngModel)]="getUserParams()!.orderBy"
            (click)="loadMembers()">
            Last Active
          </button>
          <button
            type="button"
            class="btn btn-primary"
            name="orderBy"
            btnRadio="created"
            [(ngModel)]="getUserParams()!.orderBy"
            (click)="loadMembers()">
            Newest Members
          </button>
        </div>
      </div>
    </form>
  </div>

  @for (member of getPaginatedResult()?.items; track member.id) {
    <div class="col-2">
      <app-member-card [member]="member"></app-member-card>
    </div>
  }
</div>

@if (getPaginatedResult()?.pagination) {
  <div class="d-flex justify-content-center">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="(getPaginatedResult()?.pagination)!.totalItems"
      [itemsPerPage]="(getPaginatedResult()?.pagination)!.itemsPerPage"
      (pageChanged)="pageChanged($event)"
      [(ngModel)]="(getPaginatedResult()?.pagination)!.currentPage"
      [maxSize]="10"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;">
    </pagination>
  </div>
}
