<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<nav
  class="navbar border-bottom border-2 border-info navbar-expand-md py-2 navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/"
      >DateMePlease.org</a
    >

    <ul class="navbar-nav mr-auto">
      @if (accountService.currentUser()) {
        <li class="nav-item active">
          <a routerLink="/members" routerLinkActive="active" class="nav-link"
            >Matches</a
          >
        </li>
        <li class="nav-item active">
          <a routerLink="/lists" routerLinkActive="active" class="nav-link"
            >Lists</a
          >
        </li>
        <li class="nav-item active">
          <a routerLink="/messages" routerLinkActive="active" class="nav-link"
            >Messages</a
          >
        </li>
        <li *appHasRole="['Admin', 'Moderator']" class="nav-item active">
          <a routerLink="/admin" routerLinkActive="active" class="nav-link"
            >Admin</a
          >
        </li>
      }
      <li class="nav-item active">
        <a routerLink="/errors" routerLinkActive="active" class="nav-link"
          >Errors</a
        >
      </li>
    </ul>

    @if (accountService.currentUser()) {
      <div dropdown class="dropdown">
        <img
          class="me-2"
          src="{{
            accountService.currentUser()?.photoUrl || './assets/user.png'
          }}"
          alt="user main image" />
        <a
          dropdownToggle
          class="dropdown-toggle text-light text-decoration-none"
          >Welcome {{ accountService.currentUser()?.knownAs }}</a
        >
        <div *dropdownMenu class="dropdown-menu">
          <a routerLink="/member/edit" class="dropdown-item">Edit profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Log Out</a>
        </div>
      </div>
    }

    @if (!accountService.currentUser()) {
      <form
        #loginForm="ngForm"
        (ngSubmit)="login()"
        autocomplete="off"
        class="form-inline d-flex mt-1 mt-md-0">
        <input
          name="username"
          [(ngModel)]="model.username"
          class="form-control ms-2"
          type="text"
          placeholder="Username" />
        <input
          name="password"
          [(ngModel)]="model.password"
          class="form-control ms-2 mr-sm-2"
          type="password"
          placeholder="Password" />
        <button class="btn btn-success my-2 ms-2 my-sm-0" type="submit">
          Login
        </button>
      </form>
    }
  </div>
</nav>
