<nav class="navbar navbar-expand-md py-2 navbar-dark fixed-top bg-dark">
    <div class="container">

        <a class="navbar-brand" href="#">Dating App</a>

        @if (accountService.currentUser()) 
        {
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link">Matches</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link">Lists</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link">Messages</a>
                </li>
            </ul>
        }

        @if (accountService.currentUser()) 
        {
            <div dropdown class="dropdown">
                <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">Welcome {{ accountService.currentUser()?.username }}</a>
                <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item">Edit profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Log Out</a>
                </div>
            </div>
        }

        @if (!accountService.currentUser()) 
        {
            
            <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off" class="form-inline d-flex mt-1 mt-md-0">
                <input name="username" [(ngModel)]="model.username" class="form-control ms-2" type="text" placeholder="Username">
                <input name="password" [(ngModel)]="model.password" class="form-control ms-2 mr-sm-2" type="password" placeholder="Password">
                <button class="btn btn-outline-success my-2 ms-2 my-sm-0" type="submit">Login</button>
            </form>
        }
        </div>
  </nav>